<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Your Daily blog</title>
</head>
<body>
    <nav id="navbar">
        <div class="logo-nav">
            <img src="/images/365.png" alt="">
            <a class="home-link" href="/"><h1 class="title">Daily Blog</h1></a>
        </div>
        <div >
            <ul class="options-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/create">Create</a></li>
            </ul>
        </div>
    </nav>
    
